<form method="POST" action="/variants{% if variant.id %}/{{ variant.id }}{% endif %}" style="display: flex; flex-direction: column; row-gap: 1rem;">
	{% if variant.id %}
		<input type="hidden" name="id" value="{{ variant.id }}" />
	{% endif %}
	<div>
		<label for="title">Variant Title:</label>
		<input type="text" name="title" id="title" value="{{ variant.title }}" />
	</div>
	<div>
		<label for="slug">Variant Slug:</label>
		<input id="slug" type="text" name="slug" value="{{ variant.slug }}" />
	</div>
	<div>
		<label for="price">Variant Price:</label>
		<input id="price" type="number" step=".01" name="price" value="{{ variant.price }}" />
	</div>
	<div>
		<label for="productId">Product:</label>
		<select name="productId">
			{% for product in products %}
				<option value="{{ product.id }}">{{ product.title }}</option>
			{% endfor %}
		</select>
	</div>
	<div>
		<button type="submit" style="padding: .5rem 1rem; font-weight: 700; cursor: pointer;">Save Variant</button>
		<a href="/variants" style="margin-bottom: 2rem; margin-left: 1rem; color: #333;">Cancel</a>
	</div>
</form>